* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffea00;
  font-family: "Press Start 2P", cursive;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#start_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 80px;
  margin: 50px;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.7);
  }
}

h2 {
  font-weight: normal;
  font-size: 2em;
  line-height: 50px;
  margin-bottom: 100px;
}

button {
  border: none;
  background: none;
  outline: none;
  font-family: "Press Start 2P", cursive;
  font-weight: normal;
  font-size: 1.5em;
  color: #292929;
  border: 5px solid #292929;
  padding: 10px;
  cursor: pointer;
  margin-top: 80px;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: #292929;
  color: #ffea00;
  transform: scale(1.1);
}

#play_screen {
  display: none;
}

#status_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

#status_container h2,
.gesture_selected {
  font-size: 1.5em;
}

#player_container,
#pc_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#choose_container {
  text-align: center;
}

.gesture_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.gesture_image {
  transform: scale(0.6);
  transition: all 0.2s cubic-bezier(0.3, -0.87, 0.73, 1.87);
  cursor: pointer;
}

.gesture_image:hover {
  transform: scale(1);
}
